# Node / Expo
node_modules/
.expo/
.expo-shared/
dist/
web-build/
*.log
npm-debug.*
yarn-error.*

# Env
.env
.env.local
.env.*.local

# Secrets (asla commit'lenmez)
secrets/
**/secrets/
*firebase-adminsdk*.json
firebase-service-account.json
services/api/secrets/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.egg-info/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml
.pub-cache/
.pub/
**/doctype/GeneratedPluginRegistrant.*
# Flutter platform build outputs
apps/mobile/android/.gradle/
apps/mobile/android/app/debug/
apps/mobile/android/app/profile/
apps/mobile/android/app/release/
apps/mobile/ios/Pods/
apps/mobile/ios/.symlinks/
apps/mobile/ios/Flutter/Flutter.framework/
apps/mobile/ios/Flutter/Flutter.podspec

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/

# Docker volume dumps
pgdata/
